@model launchPad.Models.LinkManager;

@{
    ViewData["Title"] = "Home Page";
}

<span><h5>Administration</h5><a href="@Url.Action("Index", "Login")">Logout</a></span>
<div class="container">
  <div class="row">
    @foreach (var item in Model.categories) {
      <div class="col-sm">
        <h2>@item.category</h2>
        @foreach (var link in Model.sortedLinks().Where(n => n.categoryId == item.Id)) {
          <div>
            <img src="https://www.google.com/s2/favicons?domain_url=@link.href" alt="@link.label"> 
            <a href="@link.href">@link.label</a> 
          </div>            
        }
      </div>
    }
  </div>
</div>

@section scripts {
    <script>startAutoLogout();</script>
}